@import "screens/shared/styles/colors.sass"

.plashque
  background-color: rgba($reject-accent-color, 0.9)
  margin: 0 auto
  position: fixed
  left: 50%
  transform: translateX(-50%)
  height: 8rem
  color: $text-color
  padding: 0.8rem 2rem
  font-size: 1.2rem
  text-align: center
  font-weight: 300

.buttonsContainer
  margin: 1rem 0
