html, body {
  font-size: 15px;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active {
  bottom: 5% !important;
  transform: translateY(0) !important;
}
.fade-enter-done {
  bottom: 5% !important;
  transform: translateY(0) !important;
  opacity: 1;
}

.fade-exit {
  bottom: 5% !important;
  transform: translateY(0) !important;
}
.fade-exit-active {
  bottom: 0 !important;
  transform: translateY(100%) !important;
}

.fade-exit-done {
  bottom: 0 !important;
  transform: translateY(100%) !important;
  opacity: 0;
}



@media screen and (min-width: 200px) and (max-width: 320px) {
  html, body {
    font-size: 12px;
  }
}
